* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --primary: #ffd43b;
    --secondary: #7950f2;
    --fast-white: rgb(233, 232, 232);
}

h1 {
    color: var(--secondary);
    text-align: center;
    margin: 40px;
    /* 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* Navbar */
nav {
    background-color: var(--secondary);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav a {
    color: var(--primary);
    float: right;
    display: block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Intro Text */
.intro-text{
    background-color: var(--secondary);
    text-justify: inter-word;
    padding: 20px;
}

.intro-text :first-child{
    color: var(--primary);
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-weight: bold;
}

.intro-text :nth-child(3){
    color: var(--fast-white);
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-weight: 300;
}

/* Read More Button */
#more {
    display: none;
}

.btn-center {
    display: block;
    margin: 0 auto;
}


/* Search Page */
/* Grid Layout */
.header { grid-area: header; }
.topbar { grid-area: topbar; }
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.search-body {
    display: grid;
    grid-template-areas: 
    'header header header header'
    'topbar topbar topbar topbar'
    'sidebar main main main'
    'footer footer footer footer'
}

/* Topbar */
.topbar {
    text-align: left;
    padding: 0 0 0 20px;
    width: 100%;
    height: 60px;
    align-content: center;
    background-color: #7950f2;
}

/* Sidebar */
.sidebar {
    width: 300px;
    float: left;
    padding: 60px 20px 0px 0px;
    background-color: #cac0e6;
}

/* Search */
.search {
    margin: 20px;
}

#product-search {
    width: 250px;
    display: block;
}

/* Dropdown Box */
.dropdown {
    margin: 20px;
    display: block;
}

/* Price Checkboxes */
.price-checkboxes {
    text-align: center;
    margin: 20px;
    display: block;
    text-align: left;
}


/* Main */

.main {
    display: block;
}

.product-display {
    /* float: left; */
    margin-inline: 10px;
    width: 100%;
    padding: 20px;
    display: block;
    text-align: center;
    
}

/* Cards */
.card {
    max-width: 95%;
    min-height: 250px;
    background-color: white;
    /* border: solid 10px #7950f2 ; */
    margin: 20px;
    margin-bottom: 0px;
    
}

.img-bg {
    /* object-fit: contain; */
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    display: inline-flex;
    align-content: center;
    background-color: white;
    padding: 0rem;
}

.img-bg > img  {
    object-fit: contain;
    width: auto;
    min-height: 250px;
    max-height: 250px;
    /* display: inline; */
    padding: 5px;
    overflow: hidden;
}

.card-body {
    display: block;
    text-align: left;
}

.card.price {
    font-size: 2rem !important;
}

.stars-rate {
    color: rgb(234, 152, 0) !important;
    font-size: 1.2em;
    margin: 0;
}

.cart-button {
    float: right;
    margin-bottom: 20px;
}

