* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --primary: #ffd43b;
    --secondary: #7950f2;
    --fast-white: rgb(233, 232, 232);
}

h1 {
    color: var(--secondary);
    text-align: center;
    margin: 40px;
    /* 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* Navbar */
nav {
    background-color: var(--secondary);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav a {
    color: var(--primary);
    float: right;
    display: block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Intro Text */
.intro-text{
    background-color: var(--secondary);
    text-justify: inter-word;
    padding: 20px;
}

.intro-text :first-child{
    color: var(--primary);
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-weight: bold;
}

.intro-text :nth-child(3){
    color: var(--fast-white);
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-weight: 300;
}

/* Read More Button */
#more {
    display: none;
}

.btn-center {
    display: block;
    margin: 0 auto;
}

/* Cards */
.card {
    max-height: 350px;
    overflow:scroll;
    background-color: var(--fast-white);
    border: solid 10px #7950f2 ;
    margin: 10px;
}

/* Search Page */
/* Search Field */
#product-search {
    margin: 20px;
    width: 250px;
    display: inline-block;
}

/* Dropdown Box */
.container {
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
    display: inline-block;
}

.dropdown {
    margin-inline: 10px;
    display: inline-block;
}


